Import Required Libraries

In [2]:
import pandas as pd

Creating Dataset

In [3]:
names = ['Bob','Jessica','Mary','John','Mel'] 
grades = [76,95,77,78,99]
bsdegrees = [1,1,0,0,1] 
msdegrees = [2,1,0,0,0] 
phddegrees = [0,1,0,0,0]

In [4]:
GradeList = zip(names,grades,bsdegrees,msdegrees,phddegrees) 
df = pd.DataFrame(data=GradeList, columns=['Name','Grades','BS','MS','PhD'])
df

      Name  Grades  BS  MS  PhD
0      Bob      76   1   2    0
1  Jessica      95   1   1    1
2     Mary      77   0   0    0
3     John      78   0   0    0
4      Mel      99   1   0    0

Computing Variance on All Numeric Columns

In [5]:
df.var()

Grades    122.5
BS          0.3
MS          0.8
PhD         0.2
dtype: float64

Computing Aggregate Statistics

In [6]:
df.describe()

          Grades        BS        MS       PhD
count   5.000000  5.000000  5.000000  5.000000
mean   85.000000  0.600000  0.600000  0.200000
std    11.067972  0.547723  0.894427  0.447214
min    76.000000  0.000000  0.000000  0.000000
25%    77.000000  0.000000  0.000000  0.000000
50%    78.000000  1.000000  0.000000  0.000000
75%    95.000000  1.000000  1.000000  0.000000
max    99.000000  1.000000  2.000000  1.000000

In [12]:
df['Grades'].count()  # number of values

5

In [13]:
df['Grades'].mean()   # arithmetic average

85.0

In [14]:
df['Grades'].std()    # standard deviation

11.067971810589327

In [15]:
df['Grades'].min()    # minimum

76

In [16]:
df['Grades'].max()    # maximum

99

In [17]:
df['Grades'].quantile(.25)  # first quartile

77.0

In [18]:
df['Grades'].quantile(.5)   # second quartile

78.0

In [19]:
df['Grades'].quantile(.75)  # third quartile

95.0

In [20]:
# computes the arithmetic average of a column 
# mean = dividing the sum by the number of values 
df['Grades'].mean()

85.0

In [21]:
# finds the median of the values in a column
# median = the middle value if they are sorted in order 
df['Grades'].median()

78.0

In [22]:
# finds the mode of the values in a column 
# mode = the most common single value
df['Grades'].mode()

0    76
1    77
2    78
3    95
4    99
dtype: int64